
新規ユーザー登録

<% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
        <%= message %>
    </div>
<% end %>
        
<%= form_tag("/users/create") do %>
    <p>ユーザー名</p>
    <input name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input name="mail" value="<%= @user.mail %>">
    <p>パスワード</p>
    <input type="password" name="password"  value="<%= @user.password %>">
    <input type="submit" value="新規登録">
<% end %>
   