<div class="index">
  <div class="index_logo">
    <%= link_to(image_tag('/5ch.png',{:width=>"500px"}),"/") %>
  </div>
  <% @titles.each do |title| %>
      <div class="index_container">
        <div class="index_board_name">
          <%= title.name %>
        </div>

        <% post_num = 1 %>
        <% title.posts.each do |post| %>

          <div class="index_post_by">
            <%= post_num %> 名前：<span class="index_post_name"><%= post.name %></span> <%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
          </div>
          <div class="index_post_content">
            <%= post.content %>
          </div>

          <% if post_num == 3 %>
            <% break %>
          <% else %>
            <% post_num = post_num + 1 %>
          <% end %>

        <% end %>

        <div class="index_read">
          <%= link_to("全部読む","/titles/#{title.id}/show") %>
          <%= link_to("最新50","/titles/#{title.id}/show/latest50") %>
          <%= link_to("1-100","/titles/#{title.id}/show/1~100") %>
        </div>

        <div class="index_newpost">
          <div class="index_newpost_title"><b>書き込み欄</b></div>
          <%= form_tag("/posts/new/#{title.id}") do %>
            <input type="submit" value="書き込む" /><br/>
            名前：<input type="text" name="name" size="40" /><br/>
            <label for="content">内容：</label><textarea id="content" name="content" rows="8" cols="80"></textarea>
          <% end %>
        </div>

      </div>

  <% end %>


  <div class="index_newtitle">
    <div class="index_newtitle_title"><b>新規スレッド作成</b></div>
    <%= form_tag("/titles/new") do %>
    <input type="submit" value="新規スレッド作成" /><br/>
    スレッドタイトル：<input type="text" name="name" />  
    <% end %>
  </div>

</div>