<div class="show">
	<div class = "show_title">
		<%= @title.name %>
	</div>

	<% post_num = 1 %>
	<% @posts.each do |post| %>
		<br/>
		<div class= "show_container">
			<div class="show_post_by">
				<%= post_num %> <span class="show_post_name"><%= post.name %></span> <%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
			</div>
			<div class="show_post_content">
				<%= post.content %>
			</div>
		</div>
		<% post_num = post_num + 1 %>
	<% end %>


	新規投稿
	<%= form_tag("/posts/new/#{@title.id}") do %>
		名前：<input type="text" name="name" />
		内容：<textarea name="content"></textarea>
		<input type="submit" value="投稿する" />
	<% end %>

</div>